@keyframes hoverAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


body {  
  background-color: #292929;
}
.container {
  display: flex;
  justify-content: center;
}
.earth {
  position: relative;
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0) 55%);
  image-rendering: optimizeQuality;
  animation: hoverAnimation ease-in-out 2s infinite;
}